body {
    text-align: center;
    font-family: "Calibri";
}

#labTitle {
    font-size: x-large;
}

#btnBuy {
    font-size: medium
}

#labTotal {
    font-size: larger;
}

#gvTable {
    font-size: large;
}

