body {
    text-align: center;
    font-family: "Calibri";
}
#labTitle {
    font-size: x-large;
}

#btnSubmit {
    font-size: large;
    background-color: lightblue;
    color: black;
    border: 1px solid darkblue;
}

#btnSubmit:hover {
    background-color: darkblue;
    color: white;
    border: 1px solid black;
}