<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
  <connectionStrings>
    <add name="MyMembershipConnString"
         connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\aspnetdb.mdf;Integrated Security=True;initial catalog=aspnetdb" />
    <!--connectionString="data source=SKOTYUSHKIN\MSSQLSERVER2012;Integrated Security=SSPI;initial catalog=aspnetdb"  not local-->

    </connectionStrings>
    <system.web> 
      <roleManager enabled="true"
                 defaultProvider="CustomSqlProvider"
                 cacheRolesInCookie="true"
                 cookieName="MyRolesCookie"
                 cookieTimeout="30"
                 cookieSlidingExpiration="true"
                 cookieProtection="All">
        <providers>
          <add name="CustomSqlProvider" 
               type="System.Web.Security.SqlRoleProvider"
               connectionStringName="MyMembershipConnString"
               applicationName="security"/>
        </providers>
      </roleManager>

      <authentication mode="Forms">
        <forms loginUrl="~/LoginPage.aspx"
               defaultUrl="~/Restrict/StartPage.aspx"/>
      </authentication>
                      
      <membership defaultProvider="MyMembershipProvider">
        <providers>
          <add name="MyMembershipProvider"
          connectionStringName="MyMembershipConnString"
          applicationName="StoreSolution"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="true"
          requiresUniqueEmail="true"
          passwordFormat="Hashed"
          type="System.Web.Security.SqlMembershipProvider" />
        </providers>
      </membership>        
      
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
    

</configuration>
