<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
  <connectionStrings>
    <add name="MyConnString"
         connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|Datadirectory|\aspnetdb.mdf;Integrated Security=True; initial catalog=aspnetdb" />
    <!--connectionString="data source=SKOTYUSHKIN\MSSQLSERVER2012;Integrated Security=SSPI;initial catalog=aspnetdb"  not local-->

    </connectionStrings>
    <system.web> 
      <roleManager enabled="true" cacheRolesInCookie="true" cookieName="RolesCookie"
        defaultProvider="MyRoleSqlProvider">
        <providers>
          <add connectionStringName="MyConnString" applicationName=".Net SqlClient Data Provider"
            name="MyRoleSqlProvider" type="System.Web.Security.SqlRoleProvider" />
        </providers>
      </roleManager>


      <authentication mode="Forms">
        <forms loginUrl="~/Index.aspx"
             protection="All"
             timeout="30"
             name="MySiteCookie"
             path="/"
             requireSSL="false"
             slidingExpiration="true"
             defaultUrl="~/Index.aspx?t=9"
             cookieless="UseCookies"
             enableCrossAppRedirects="false"/>
      </authentication>
      
      
      <!--<authentication mode="Forms">
        <forms loginUrl="~/Index.aspx" defaultUrl="~/Restrict/StartPage.aspx" />
      </authentication>-->
                      
      <membership defaultProvider="MyMembershipProvider">
        <providers>
          <add connectionStringName="MyConnString" applicationName=".Net SqlClient Data Provider"
            enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true"
            requiresUniqueEmail="true" passwordFormat="Hashed" name="MyMembershipProvider"
            type="System.Web.Security.SqlMembershipProvider" />
        </providers>
      </membership>        
      
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
    

</configuration>
